<% include header.html %>
      <blockquote>
          User stories:
          <ol>
            <li>I can submit a FormData object that includes a file upload.</li>
            <li>When I submit something, I will receive the file size in bytes within the JSON response</li>
          </ol>
      </blockquote>
      <h3>The Polls</h3>
      <% if(req.session.user) { %><a href="/polls/new">Create Poll</a> <% } %>
      <% for(i in polls) { var poll = polls[i];  %>
      <div class="row">
        <div class="span9">
          <h4><%= poll.title %></h4>
          <%= poll.question %></div>
        <div class="span3">
          <a href="/polls/<%= poll._id %>" class="btn btn-info">Show more</a>
        </div>
      </div>
      <hr>
      <% } %>
<% include footer.html %>